header{
  display:flex;
  background: #242424;
  align-items:center;
  padding: .4rem;
}
nav{
  width:100%;
}
nav ul{
  padding:.4rem;
  display:flex;
  justify-content:space-between;
  list-style:none;
}
nav ul li a{
  color:#fff;
  text-decoration:none;
}
nav ul li a:hover{
  color:#5541ec;
}